<%- include('partials/header') %>

<div class="error section-title">
    <h2>OOPS, Invalid Operation !!!</h2>
    <h2>Check Amounts</h2>
    <h2> Or Try Again :(</h2>
</div>

<%- include('partials/footer') %>