<%- include('partials/header') %>
<style>
    .gap{
        margin-bottom: 40vh;
    }
    .error{
        margin-top: 30vh;
    }
</style>

<div class=" error section-title">
    <h2>OOPS, Invalid Operation !!!</h2>
    <p> <a href="/#error-question">know more</a> about what happened</p>
</div>
<div class="gap"></div>
<%- include('partials/footer') %>