
<%- include('partials/header')  %> 
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Trusted and used by Millions</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Now transactions are saffer and easier with our brand new The Bank.  View old transactions, view bank balance  </h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="#services" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>All the operations are listed below. Click as per your need</p>
        </div>

        <div class="row justify-content-center">
          
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
              <a href="/customers"> 
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-group"></i></div>
              <h4 class="title"><a href="/customers">View Customers</a></h4>
              <p class="description">All the customers are pre listed in the data base and you can make transaction from here . </p>
            </div>
          </a>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="/history"> 
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="/history">View transactions</a></h4>
              <p class="description">All the transactions are listed here. and all new transaction will be uploaded on the database when made.</p>
            </div>
          </a>
          </div>



          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">

            <h4>to do: </h4>
            <ul>
              <li><i class="ri-check-double-line"></i> From services section Go to the view customers page.</li>
              <li><i class="ri-check-double-line"></i> Select a customer you want to use for transaction.</li>
              <li><i class="ri-check-double-line"></i> Select the customer you want to send money to. </li>
              <li><i class="ri-check-double-line"></i> Enter amount you want to make send.(make sure amount is correct ) </li>
              <li><i class="ri-check-double-line"></i> After all done make sure to see the transaction history from services </li>
            </ul>

            <p>
              Organization:  <a href="https://www.thesparksfoundationsingapore.org/">The spark foundation</a> 
            </p> 
            <p>
              This project is made on the bases of the given problem statement. 
            </p>
            <p>Tech Stack: Express, nodejs, mongodb, bootstrap, html, css, javascript, </p>
              

  
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 portfolio" id="portfolio" data-aos="fade-up" data-aos-delay="300">

              <div class="container">
                <div class=" portfolio-item filter-app">
                  <div class="portfolio-wrap">
                      <img src="/assets/img/Screenshot 2022-09-20 013027.png" class="img-fluid" alt="">
                      <div class="portfolio-info">
                        <h4>Problem Statement</h4>
                        <p><a href="/assets/img/Screenshot 2022-09-20 013027.png">view full</a></p>
                        <div class="portfolio-links">
                          <a href="/assets/img/Screenshot 2022-09-20 013027.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Problem Statement"><i class="bx bx-plus"></i></a>
                          <a href="/assets/img/Screenshot 2022-09-20 013027.png" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                      </div>
                  </div>
                  <a href="/#services" class="btn-learn-more">Learn More</a>
                  <a href="https://github.com/abhaybhatia01/tsfProject.git" class="btn-learn-more">source code</a>
                </div>
              </div>
            
          </div>

      </div>
    </section><!-- End About Us Section -->

    



    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p>I am always open to chat about tech and movies.</p>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://github.com/abhaybhatia01"><i class="bi bi-github"></i></a>
                  <a href="https://abhaybhatia.me"><i class="bi bi-globe"></i></a>
                  <a href="https://www.instagram.com/abhaybhatia.me/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/abhaybhatia01/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Abhay Bhatia</h4>
                <span>Designer and Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

 

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" id="error-question" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>What is the meaning of error message</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Error message show up when you try to make transaction more than the balance in the account of the customer.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Can you make new Customer ?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              No, You can not make new customer as this was given in problem statement. (not to implement this feature)
            </p>
          </div>
        </div><!-- End F.A.Q Item-->


        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>How can we run this app locally ?</h4>
          </div>
          <div class="col-lg-7"
            <p>
              You need to clone or download the code from source code of this application. Make sure you have nodejs and mongodb installed on your system. Install dependencies and then add some dummy data from to the database.
              for some help I have made a js file. you can copy command and get started.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->



      </div>
    </section><!-- End F.A.Q Section -->


  </main><!-- End #main -->

 <%- include('partials/footer')  %> 